@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Inter", sans-serif;
}

.active {
  color: #4f18d1;
  border-bottom: 2px solid #4f18d1;
}

.btn,
.btn2 {
  background: linear-gradient(to left top, #9f62f2, #632ee3);
  color: white;
  font-weight: 500;
  padding: 6px 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.btn2 {
  margin: 30px auto 0;

  border-radius: 1000px;
}

/* ! loader */
.loader {
  width: 70px;
  animation: spin-scale 0.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

@keyframes spin-scale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(3);
  }
}

.loader img {
  width: 70px;
  align-self: center;
}

.banner {
  background-color: #f0f0f0;
}

.gradient-text {
  background: linear-gradient(to left top, #a786d5, #4c00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.banner-footer {
  background: linear-gradient(to left top, #9b65e6, #520af8);
  color: white;
  text-align: center;
  padding: 80px;
}

.app {
  background-color: #f0f0f0;
  padding: 20px 80px 60px;
}

.app-details {
  background-color: #f0f0f0;
  padding: 40px 80px;
}

.installations {
  background-color: #f0f0f0;
  padding: 20px 80px 40px;
}

.footer {
  padding: 40px 80px;
}
